n8n-coaching-assessment-workflow-split.json
{
  "meta": {
    "instanceId": "coaching-assessment-workflow-split"
  },
  "nodes": [
    {
      "parameters": {
        "path": "coaching-assessment",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Assessment Results Webhook", 
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "coaching-assessment-results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "assign-2", 
              "name": "name",
              "value": "={{ $json.participantName }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "email",
              "value": "={{ $json.participantEmail }}",
              "type": "string"
            },
            {
              "id": "assign-4",
              "name": "organization",
              "value": "={{ $json.organizationName || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-5",
              "name": "role",
              "value": "={{ $json.role }}",
              "type": "string"
            },
            {
              "id": "assign-6",
              "name": "staff_member", 
              "value": "={{ $json.staffMemberName || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-7",
              "name": "final_score",
              "value": "={{ $json.scores.weightedTotal }}",
              "type": "number"
            },
            {
              "id": "assign-8",
              "name": "pass_fail",
              "value": "={{ $json.scores.passed ? 'PASS' : 'FAIL' }}",
              "type": "string"
            },
            {
              "id": "assign-9",
              "name": "knowledge_score",
              "value": "={{ $json.scores.knowledgeScore }}",
              "type": "number"
            },
            {
              "id": "assign-10",
              "name": "behavioral_score",
              "value": "={{ $json.scores.behavioralScore }}",
              "type": "number"
            },
            {
              "id": "assign-11", 
              "name": "attendance_score",
              "value": "={{ $json.scores.attendanceScore }}",
              "type": "number"
            },
            {
              "id": "assign-12",
              "name": "module_1_score",
              "value": "={{ $json.scores.moduleBreakdown[0]?.percentage || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-13",
              "name": "module_2_score", 
              "value": "={{ $json.scores.moduleBreakdown[1]?.percentage || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-14",
              "name": "module_3_score",
              "value": "={{ $json.scores.moduleBreakdown[2]?.percentage || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-15",
              "name": "module_4_score",
              "value": "={{ $json.scores.moduleBreakdown[3]?.percentage || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-16",
              "name": "module_5_score",
              "value": "={{ $json.scores.moduleBreakdown[4]?.percentage || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-17",
              "name": "module_6_score",
              "value": "={{ $json.scores.moduleBreakdown[5]?.percentage || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-18",
              "name": "module_7_score",
              "value": "={{ $json.scores.moduleBreakdown[6]?.percentage || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "assign-19",
              "name": "overall_rating",
              "value": "={{ $json.scores.weightedTotal >= 90 ? 'Advanced' : $json.scores.weightedTotal >= 75 ? 'Proficient' : $json.scores.weightedTotal >= 60 ? 'Developing' : 'Emerging' }}",
              "type": "string"
            },
            {
              "id": "assign-20",
              "name": "total_questions", 
              "value": "={{ $json.answers.length }}",
              "type": "number"
            },
            {
              "id": "assign-21",
              "name": "correct_answers",
              "value": "={{ $json.role === 'staff' ? Math.round($json.scores.knowledgeScore * $json.answers.length / 100) : Math.round($json.scores.behavioralScore * $json.answers.length / 100) }}",
              "type": "number"
            },
            {
              "id": "assign-22",
              "name": "raw_answers_json",
              "value": "={{ JSON.stringify($json.answers) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "data-transform",
      "name": "Transform Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.role }}",
              "rightValue": "staff",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        },
        "options": {}
      },
      "id": "role-router",
      "name": "Route by Role",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gUOPz0QCsq7edpFPbHwReoNBrtHf7CEDPyFZM99udRI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Staff Assessments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Organization": "={{ $json.organization }}",
            "Final Score": "={{ $json.final_score }}",
            "Pass/Fail": "={{ $json.pass_fail }}",
            "Knowledge Score": "={{ $json.knowledge_score }}",
            "Attendance Score": "={{ $json.attendance_score }}",
            "Module 1": "={{ $json.module_1_score }}",
            "Module 2": "={{ $json.module_2_score }}",
            "Module 3": "={{ $json.module_3_score }}",
            "Module 4": "={{ $json.module_4_score }}",
            "Module 5": "={{ $json.module_5_score }}",
            "Module 6": "={{ $json.module_6_score }}",
            "Module 7": "={{ $json.module_7_score }}",
            "Overall Rating": "={{ $json.overall_rating }}",
            "Questions": "={{ $json.total_questions }}",
            "Correct": "={{ $json.correct_answers }}"
          }
        }
      },
      "id": "staff-sheet",
      "name": "Staff Assessments Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gUOPz0QCsq7edpFPbHwReoNBrtHf7CEDPyFZM99udRI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Manager Assessments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Organization": "={{ $json.organization }}",
            "Staff Member": "={{ $json.staff_member }}",
            "Final Score": "={{ $json.final_score }}",
            "Pass/Fail": "={{ $json.pass_fail }}",
            "Behavioral Score": "={{ $json.behavioral_score }}",
            "Attendance Score": "={{ $json.attendance_score }}",
            "Overall Rating": "={{ $json.overall_rating }}",
            "Questions": "={{ $json.total_questions }}",
            "Raw Responses": "={{ $json.raw_answers_json }}"
          }
        }
      },
      "id": "manager-sheet",
      "name": "Manager Assessments Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Assessment Results Webhook": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Route by Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Role": {
      "main": [
        [
          {
            "node": "Staff Assessments Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manager Assessments Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}